@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Lora:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #272249;
}

/* headings and logo */

h1, h2 {
    font-family: Domine, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:darkslateblue;
}
#logo {
    float: left;
    font-size: 280%;
}